<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>에브리타임</title>
    <style>
        .footer {
            display: flex;
            justify-content: center;
        }

        .footer div {
            padding-right: 13px;
        }

        div {
            color: #666;
            font-size: 12px;
            letter-spacing: -0.5px;
        }

        a {
            text-decoration: none;
            color: #666;
        }

        a:hover {
            color: red;
        }
    </style>
</head>

<body>

    <div class="footer">
        <div><a href="#">이용약관</a></div>
        <div><a href="#">개인정보처리방침</a></div>
        <div><a href="#">커뮤니티이용규칙</a></div>
        <div><a href="#">공지사항</a></div>
        <div><a href="#">문의하기</a></div>
        <div><a href="#">ⓒ에브리타임</a></div>
    </div>
</body>

</html>