{{> /layout/header}}
{{> /layout/subMenu}}

<div class="entire">
    <div>
        <div class="freeboard">
            자유게시판
        </div>
        <div class="club_top">
            <div class="write">새 글을 작성해 주세요!

            </div>
            <div class="pencil"> <i class="fa-solid fa-pen"></i></div>
        </div>
        <div class="clubboard">

            <div class="clubbody">
                <div class="boardtitle"> 제목</div>
                <div class="boardcontent">내용</div>
                <div class="boardbottom">
                    <div class="bottom">
                        <time>3분전</time>
                        <div class="secret">익명</div>
                    </div>
                    <div class="vote_comment">
                        <div class="clubvote">
                            <li class="vote active">3</li>
                        </div>
                        <div class="clubcomment">
                            <li class="comment active">4</li>
                        </div>
                    </div>
                </div>

            </div>


            <div class="clubbody">
                <div class="boardtitle"> 제목</div>
                <div class="boardcontent">내용</div>
                <div class="boardbottom">
                    <div class="bottom">
                        <time>3분전</time>
                        <div class="secret">익명</div>
                    </div>
                    <div class="vote_comment">
                        <div class="clubvote">
                            <li class="vote active">3</li>
                        </div>
                        <div class="clubcomment">
                            <li class="comment active">4</li>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clubbody">
                <div class="boardtitle"> 제목</div>
                <div class="boardcontent">내용</div>
                <div class="boardbottom">
                    <div class="bottom">
                        <time>3분전</time>
                        <div class="secret">익명</div>
                    </div>
                    <div class="vote_comment">
                        <div class="clubvote">
                            <li class="vote active">3</li>
                        </div>
                        <div class="clubcomment">
                            <li class="comment active">4</li>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clubbody">
                <div class="boardtitle"> 제목</div>
                <div class="boardcontent">내용</div>
                <div class="boardbottom">
                    <div class="bottom">
                        <time>3분전</time>
                        <div class="secret">익명</div>
                    </div>
                    <div class="vote_comment">
                        <div class="clubvote">
                            <li class="vote active">3</li>
                        </div>
                        <div class="clubcomment">
                            <li class="comment active">4</li>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div>
        <div>
            <div class="popular">
                <div class="popularfont">실시간 인기 글</div>
                <div class="popular_board">학식!</div>
                <div class="popular_bottom">

                    <div class="secret_board">비밀게시판</div>

                    <div class="clubvote">
                        <li class="vote active">3</li>
                    </div>
                    <div class="clubcomment">
                        <li class="comment active">4</li>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="hot">
                <div class="hot_top">
                    <div class="hotfont">HOT 게시물</div>
                    <div class="more">더보기</div>
                </div>
                <div class="hot_board">
                    <div class="hot_body">주차 정기권 데모하러 가자</div>
                    <div class="hot_date">4-15 10:10</div>
                </div>
                <div class="hot_board">
                    <div class="hot_body">주차 정기권 데모하러 가자</div>
                    <div class="hot_date">4-15 10:10</div>
                </div>
                <div class="hot_board">
                    <div class="hot_body">주차 정기권 데모하러 가자</div>
                    <div class="hot_date">4-15 10:10</div>
                </div>
                <div class="hot_board">
                    <div class="hot_body">주차 정기권 데모하러 가자</div>
                    <div class="hot_date">4-15 10:10</div>
                </div>
            </div>
        </div>
    </div>
</div>



{{> /layout/footer}}