<!DOCTYPE html>
<html lang="en">

<head>
    <title>에브리타임</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            border: 1px solid black;
        }

        a {
            text-decoration: none;
        }

        h3 {
            padding: 10px;
        }

        .board_p {
            font-size: 13px;
            color: #444444;
            overflow: hidden;
            white-space: normal;
            line-height: 18px;
            height: 36px;
            margin-bottom: 5px;
        }

        .board_content>time {
            float: left;
            margin-right: 10px;
            height: 14px;
            color: #a6a6a6;
            font-size: 11px;
            letter-spacing: 0;
        }

        .box_rightside_list>time {
            float: right;
            margin-left: 10px;
            height: 17px;
            line-height: 18px;
            color: #a6a6a6;
            font-size: 11px;
            letter-spacing: 0;
        }


        .box_container {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 2241px;

        }

        .container {
            width: 1180px;
            display: flex;
            justify-content: space-evenly;
        }

        .leftside {
            display: flex;
            width: 175px;
            height: 100%;
            flex-direction: column;
        }

        .main {
            display: flex;
            width: 600px;
            height: 100%;
            flex-direction: column;
        }

        .rightside {
            display: flex;
            width: 325px;
            height: 100%;
            flex-direction: column;
        }

        .ml_10 {
            margin: 0 0 0 10px;
        }

        .mb_5 {
            margin: 0 0 5px 0;
        }

        .mb_25 {
            margin: 0 0 25px 0;
        }

        .mt_15 {
            margin: 15px 0 0 0;
        }

        .mv_25 {
            margin: 25px 0px;
        }

        .color_secondary {
            background-color: #f9f9f9;
        }

        .box_profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 217px;
            border: 1px solid #d6d6d6;
            padding: 15px;
        }

        .nickname {
            font-size: 18px;
            font-weight: bold;
            color: #393939;
            text-align: center;
            margin-bottom: 5px;
        }

        .name {
            font-size: 12px;
            text-align: center;
            color: #a6a6a6;
        }

        .box_small {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 120px;
            border: 1px solid #d6d6d6;
        }

        .box_small_list {
            flex: 1;
            display: flex;
            align-items: center;
            font-size: 14px;
        }

        .banner {
            width: 100%;
            height: 160px;
            background-image: url("/bannerImg2.png");
            background-size: cover;
            background-position: center;
        }

        .box_board {
            width: 100%;
            height: 192px;
            justify-content: space-between;
        }

        .box_rightside {
            display: flex;
            width: 323px;
            height: 230px;
            flex-direction: column;
            border: 1px solid #d6d6d6;
        }

        /* 
        .box_rightside_flex {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
        } */

        .box_rightside_list {
            display: flex;
            flex: none;
            align-items: center;
            flex: 1;
            border-top: 1px solid #e3e3e3;
            padding: 0 10px;
            justify-content: space-between;

        }

        .board {
            display: inline-block;
            width: 295px;
            height: 192px;
        }

        .board_title {
            font-size: 14px;
            font-weight: bold;
            color: #c62917;
        }

        .board_flex {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            border: 1px solid #d6d6d6;
        }

        .board_list {
            display: flex;

            align-items: center;
            flex: 1;
            border-top: 1px solid #e3e3e3;
            padding: 0 10px;
        }

        .board_content {
            flex-direction: column;
        }

        .btns {
            display: flex;
            color: #666;
            font-size: 12px;
            letter-spacing: -0.5px;

        }

        .btn_profile {
            display: inline-block;
            height: 25px;
            color: #737373;
            font-size: 13px;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #d6d6d6;
            line-height: 25px;
        }

        .btn_myinfo {
            width: 64.5px;
            margin-right: 5px;
        }

        .btn_logout {
            width: 69.5px;
        }

        .img_profile {
            width: 60px;
            height: 60px;
            border-radius: 6px;
            border: 0px;
            margin: 15px 41.5px;
        }

        .search {
            display: flex;
            width: 325px;
            height: 40px;
            align-items: center;
        }

        .search_text {
            width: 301px;
            height: 16px;
            padding: 10px;
        }

        .icon_leftside {
            margin: 0 10px 0 10px;
            width: 12px;
            height: 11px;
        }

        .myarticle {
            background-image: url("/myarticle.png");
            background-size: 12px auto;
            background-position: 15px center;
            box-sizing: border-box;
            background-repeat: no-repeat;
            padding: 10px 0 10px 37px;
            color: #444444;
            border-bottom: 1px solid #e3e3e3;
            width: 100%;
        }

        .mycommentarticle {
            background-image: url("/mycommentarticle.png");
            background-size: 12px auto;
            background-position: 15px center;
            box-sizing: border-box;
            background-repeat: no-repeat;
            padding: 10px 0 10px 37px;
            color: #444444;
            border-bottom: 1px solid #e3e3e3;
            width: 100%;
        }

        .myscrap {
            background-image: url("/myscrap.png");
            background-size: 12px auto;
            background-position: 15px center;
            box-sizing: border-box;
            background-repeat: no-repeat;
            padding: 10px 0 10px 37px;
            color: #444444;
            width: 100%;
        }

        .vote {
            background-image: url("/vote.png");
            float: left;
            margin-right: 5px;
            padding-left: 15px;
            height: 14px;
            line-height: 14px;
            font-size: 11px;
            letter-spacing: 0;
            background-repeat: no-repeat;
            background-size: 11px 11px;
            background-position: left center;
        }

        .comment {
            background-image: url("/comment.png");
            float: left;
            margin-right: 5px;
            padding-left: 15px;
            height: 14px;
            line-height: 14px;
            font-size: 11px;
            letter-spacing: 0;
            background-repeat: no-repeat;
            background-size: 11px 11px;
            background-position: left center;
        }

        .status {
            float: left;
            list-style: none;
        }

        .search_text {
            border: 2px solid #d6d6d6;
            width: 100%;
            height: 40px;
            line-height: 20px;
            padding: 10px;
            box-sizing: border-box;
            color: #292929;
            font-size: 14px;
            background-image: url("/search.png");
            background-size: 40px 40px;
            background-repeat: no-repeat;
            background-position: right center;
        }

        .rightside_title {
            color: #3744a5;
            font-size: 14px;
            font-weight: bold;
        }

        .hot_title {
            height: 17px;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #444444;
            font-size: 14px;
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <div class="box_container">
        <div class="container mv_25">

            <!-- 왼쪽 메뉴 시작 -->
            <div class="leftside">
                <div class="box_profile color_secondary mb_5">
                    <img class="img_profile" src="/profileImg.png" alt="">
                    <div class="nickname">닉네임</div>
                    <div class="name">이름</div>
                    <div class="name">username</div>
                    <ul class="btns mt_15">
                        <a class="btn_profile btn_myinfo" href="">내 정보</a>
                        <a class="btn_profile btn_logout" href="">로그아웃</a>
                    </ul>
                </div>
                <div class="box_small color_secondary mb_5">
                    <div class="box_small_list"><a class="myarticle" href="">내가 쓴
                            글</a>
                    </div>
                    <div class="box_small_list"><a class="mycommentarticle" href="">댓글 단
                            글</a></div>
                    <div class="box_small_list"><a class="myscrap" href="">내
                            스크랩</a></div>
                </div>
                <div class="box_small mb_5"><img src="/card01.png" height="100%"></div>
                <div class="box_small mb_5"><img src="/card02.jpg" height="100%"></div>
                <div class=" box_small mb_5"><img src="/card03.jpg" height="100%"></div>
            </div>
            <!-- 왼쪽 메뉴 끝 -->

            <!-- 중간 메뉴 시작 -->
            <div class="main">
                <div class="banner mb_25"></div>

                <!-- 게시판 시작 -->
                <div class="box_board mb_5">
                    <div class="board">
                        <div class="board_flex">
                            <div>
                                <h3><a class="board_title" href="">자유게시판</a></h3>
                            </div>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                        </div>
                    </div>
                    <div class="board">
                        <div class="board_flex">
                            <div>
                                <h3><a class="board_title" href="">비밀게시판</a></h3>
                            </div>
                            <a class="board_list" href="">
                                <div class="board_content">
                                    <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                    <time>04/08 13:29</time>
                                    <ul class="status">
                                        <li class="vote active">3</li>
                                        <li class="comment active">4</li>
                                    </ul>
                                </div>
                            </a>
                            <a class="board_list" href="">
                                <div class="board_content">
                                    <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                    <time>04/08 13:29</time>
                                    <ul class="status">
                                        <li class="vote active">3</li>
                                        <li class="comment active">4</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box_board mb_5">
                    <div class="board">
                        <div class="board_flex">
                            <div>
                                <h3><a class="board_title" href="">졸업생게시판</a></h3>
                            </div>
                            <a class="board_list" href="">
                                <div class="board_content">
                                    <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                    <time>04/08 13:29</time>
                                    <ul class="status">
                                        <li class="vote active">3</li>
                                        <li class="comment active">4</li>
                                    </ul>
                                </div>
                            </a>
                            <a class="board_list" href="">
                                <div class="board_content">
                                    <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                    <time>04/08 13:29</time>
                                    <ul class="status">
                                        <li class="vote active">3</li>
                                        <li class="comment active">4</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="board">
                        <div class="board_flex">
                            <div>
                                <h3><a class="board_title" href="">새내기게시판</a></h3>
                            </div>
                            <a class="board_list" href="">
                                <div class="board_content">
                                    <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ 21세기 먼나라 이웃나라 이탈리아 만화로 보는 조선 왕조 500년
                                    </p>

                                    <time>04/08 13:29</time>
                                    <ul class="status">
                                        <li class="vote active">3</li>
                                        <li class="comment active">4</li>
                                    </ul>
                                </div>
                            </a>
                            <a class="board_list" href="">
                                <div class="board_content">
                                    <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                    <time>04/08 13:29</time>
                                    <ul class="status">
                                        <li class="vote active">3</li>
                                        <li class="comment active">4</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box_board mb_5">
                    <div class="board">
                        <div class="board_flex">
                            <div>
                                <h3><a class="board_title" href="">시사·이슈</a></h3>
                            </div>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                        </div>
                    </div>
                    <div class="board">
                        <div class="board_flex">
                            <div>
                                <h3><a class="board_title" href="">취업·진로</a></h3>
                            </div>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                        </div>
                    </div>
                </div>
                <div class="box_board mb_5">
                    <div class="board">
                        <div class="board_flex">
                            <div>
                                <h3><a class="board_title" href="">홍보게시판</a></h3>
                            </div>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                        </div>
                    </div>
                    <div class="board">
                        <div class="board_flex">
                            <div>
                                <h3><a class="board_title" href="">동아리·학회</a></h3>
                            </div>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                        </div>
                    </div>
                </div>
                <div class="box_board mb_5">
                    <div class="board">
                        <div class="board_flex">
                            <div>
                                <h3><a class="board_title" href="">장터게시판</a></h3>
                            </div>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                            <a class="board_list" href="">안</a>
                        </div>
                    </div>
                </div>
                <!-- 게시판 끝 -->
            </div>
            <!-- 중간 메뉴 끝 -->
            <!-- 오른쪽 메뉴 시작 -->
            <div class="rightside">
                <form class="search mb_5" action="">
                    <input class="search_text" type="text" placeholder="전체 게시판의 글을 검색하세요!">
                </form>
                <div class="box_rightside mb_5">
                    <!-- <div class="box_rightside_flex"> -->
                    <div>
                        <h3 class="color_secondary rightside_title">실시간 인기 글</h3>
                    </div>
                    <a class="box_rightside_list color_secondary" href="">안</a>
                    <a class="box_rightside_list color_secondary" href="">안</a>
                    <!-- </div> -->
                </div>
                <div class="box_rightside">
                    <!-- <div class="box_rightside_flex"> -->
                    <div>
                        <h3 class="color_secondary rightside_title">HOT 게시물</h3>
                    </div>
                    <a class="box_rightside_list color_secondary" href="">

                        <p class="hot_title">프랭클린 자서전 나의 라임오렌지 나무 악마와 미스 프랭 선택 말테의 수기</p>
                        <time>04/03 17:52</time>

                    </a>
                    <a class="box_rightside_list color_secondary" href="">안</a>
                    <a class="box_rightside_list color_secondary" href="">안</a>
                    <a class="box_rightside_list color_secondary" href="">안</a>
                    <!-- </div> -->
                </div>
            </div>
            <!-- 오른쪽 메뉴 끝 -->
            <div>
            </div>
        </div>
    </div>
</body>

</html>