<!DOCTYPE html>
<html lang="en">

<head>
    <title>에브리타임</title>

    <style>
        h3 {
            padding: 10px;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .box_container {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 2241px;

        }

        .container {
            width: 1180px;
            display: flex;
            justify-content: space-evenly;
        }

        .leftside {
            display: flex;
            width: 175px;
            height: 100%;
            flex-direction: column;
        }

        .main {
            display: flex;
            width: 600px;
            height: 100%;
            flex-direction: column;
        }

        .rightside {
            display: flex;
            width: 325px;
            height: 100%;
            justify-content: center;
        }

        .mb_5 {
            margin: 0 0 5px 0;
        }

        .mb_25 {
            margin: 0 0 25px 0;
        }

        .mv_25 {
            margin: 25px 0px;
        }

        .box_profile {
            width: 100%;
            height: 217px;
            border: 1px solid #666;
        }

        .box_small {
            width: 100%;
            height: 120px;
            border: 1px solid #666;
        }

        .banner {
            width: 100%;
            height: 160px;
        }

        .box_board {
            width: 100%;
            height: 192px;
            justify-content: space-between;
        }

        .board {
            display: inline-block;
            width: 295px;
            height: 192px;
        }
    </style>
</head>

<body>
    <div class="box_container">
        <div class="container mv_25">
            <div class="leftside">
                <div class="box_profile mb_5">안</div>
                <div class="box_small mb_5">녕</div>
                <div class="box_small mb_5">하</div>
                <div class="box_small mb_5">쇼</div>
            </div>
            <div class="main">
                <div class="banner mb_25">안녕</div>
                <div class="box_board mb_5">
                    <div class="board">
                        <div>
                            <h3>안</h3>
                        </div>
                        <div><a href="">안</a></div>
                        <div><a href="">안</a></div>
                        <div><a href="">안</a></div>
                        <div><a href="">안</a></div>
                    </div>
                    <div class="board">
                        박스
                    </div>
                </div>
                <div class="box_board mb_5">
                    <div class="board">
                        박스
                    </div>
                    <div class="board">
                        박스
                    </div>
                </div>
            </div>
            <div class="rightside"></div>
        </div>
    </div>
</body>

</html>