<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기 - 에브리타임</title>

    <style>
        * {
            padding: 0px;
            margin: 0px;
        }

        .container {
            margin: 24px auto;
            width: 480px;
        }

        .find_box {
            box-sizing: border-box;
            border: 1px solid #ededed;
            border-radius: 12px;
        }

        .menu {
            width: 100%;
            height: 48px;
            background-color: #ffffff;
            margin-top: 24px;
            padding-left: 16px;
        }

        .menu a {
            color: inherit;
            text-decoration: none;
            display: inline-block;
            padding: 8px 8px 14px 8px;
        }

        .active {
            border-bottom: 2px solid #c62917;
            color: #C62917;
            font-weight: bold;
            display: inline-block;
            line-height: 24px;
            font-size: 16px;
        }

        .non_active {
            display: inline-block;
            line-height: 24px;
            color: #a6a6a6;
            font-size: 16px;
        }

        form {
            padding: 24px;
            display: block;
        }

        .input_username {
            border: 1px solid #ededed;
            color: #292929;
            font-size: 16px;
            background-color: #f9f9f9;
            display: block;
            border-radius: 12px;
            width: 100%;
            height: 40px;
            caret-color: #C62917;
        }

        .btn_findPassword {
            border: 0;
            color: #ffffff;
            font-size: 16px;
            font-weight: bold;
            background-color: #C62917;
            margin-top: 8px;
            display: block;
            border-radius: 12px;
            width: 100%;
            height: 40px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="find_box">
            <div class="menu">
                <a href="#"><span class="non_active">아이디 찾기</span></a>
                <a href="#"><span class="active">비밀번호 찾기</span></a>
            </div>

            <div>
                <form action="#">
                    <input class="input_username" type="text" placeholder="가입된 아이디">
                    <input class="btn_findPassword" type="submit" value="비밀번호 찾기">
                </form>

            </div>
        </div>
    </div>
</body>

</html>