.freeboard {
    border: 1px solid #d6d6d6;
    display: flex;
    font-size: 20px;
    margin: 15px 0px 0px 60px;
    justify-content: left;
    padding-left: 50px;
    width: 1100px;
    padding: 10px;
    font-weight: bold;

.my_list_board_box {
    width: 600px;
    height: 100%;
    margin-top: 10px;

}

.write {
    font-size: 15px;
    width: 1050px;
    color: #737373;
    background-color: transparent;
    outline: none;
    width: 100%;
}

.clubboard {
    border: 1px solid #d6d6d6;
    font-size: 15px;
    margin: 5px 0px 0px 60px;
    justify-content: left;
    width: 1100px;
    height: 700px;
}

.popular {
    border: 1px solid #d6d6d6;
    width: 400px;
    height: 150px;
    margin: 15px 30px 10px 30px;
}

.hot {
    border: 1px solid #d6d6d6;
    background-color: #f9f9f9;
    width: 400px;
    height: 350px;
    margin: 3px 10px 10px 30px;
}

.entire {
    display: flex;
    justify-content: center;

}

.hotfont {
    font-size: 14px;
    font-weight: bold;
    color: #3744a5;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 255px;
    display: flex;


}

.popularfont {
    font-size: 14px;
    font-weight: bold;
    color: #3744a5;
    display: block;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    background-color: #f9f9f9
    margin: 5px 0 0 0;
    justify-content: left;
}

.clubbody {
    border-bottom: 1px solid #d6d6d6;
    font-size: 15px;
    margin: 0PX;
    width: 100%;
    padding: 0px;
    height: 100px;
    width: 100%;
    height: 100px;
}

.boardtitle {
    font-weight: bold;
    margin: 13px 5px 5px 5px;
    padding: 5px;
}

.boardcontent {
    margin: 5px 5px 5px 5px;
    padding: 5px;
    color: #444444;
}

.boardbottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.vote_comment {
    display: flex;
    justify-content: right;
}

.clubvote {
    display: flex;
    color: #c62917;
}

.clubcomment {
    display: flex;
    color: #0ca5af;
}

.secret {
    display: flex;
    margin-left: 6px;
    color: #444444;
}

.bottom {
    display: flex;
}

.pencil {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    align-items: flex-end;
}

.popular_board {
    width: 400px;
    font-size: 13px;
    margin: 0px;
    padding: 10px;
    height: 75px;
    color: #444444;
}

.popular_bottom {
    display: flex;
    padding: 10px;
}

.secret_board {
    display: flex;
    padding-right: 8px;
    color: #a6a6a6;
}

.hot_top {
    display: flex;
    border-bottom: 1px solid #d6d6d6;
    background-color: #f9f9f9
}

.more {
    display: flex;
    padding: 10px;
    color: #a6a6a6;

}

.hot_board {
    display: flex;
    width: 400px;
    font-size: 13px;
    margin: 0px;
    height: 55px;
    border-bottom: 1px solid #d6d6d6;

}

.hot_body {
    display: flex;
    width: 315px;
    padding: 10px;
    padding-top: 18px;
    color: #444444;
}

.hot_date {
    display: flex;
    padding: 12px;
    padding-top: 17px;
    color: #a6a6a6;

}

.club_top {
    border: 1px solid #d6d6d6;
    display: flex;
    margin: 5px 0px 0px 60px;
    justify-content: left;
    padding-left: 50px;
    width: 1100px;
    border: 3px solid #d6d6d6;
    display: flex;
    background-color: #f8f8f8;
    justify-content: space-between;
    padding: 10px;
}