* {
    padding: 0px;
    margin: 0px;

}

.m_navbar {
    border-bottom: 1px solid #d6d6d6;
    justify-content: space-around;
}

.header_navbar_flex {
    display: flex;
    align-items: center;
}

.m_space {
    padding: 0px 50px;
}

.header_logo_flex {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.header_logo_title {
    font-size: 6px;
    font-weight: bold;
    color: #C62917;
}

.header_logo_school {
    font-size: 23px;
    font-weight: 500;
    color: #444444;
}

.header_menu {
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    display: flex;
}

.header_menu a {
    padding: 0px 5px;
}

.header_menu li {
    height: 80px;
    line-height: 80px;
    
}

.active {
    border-bottom: 4px solid #C62917;
}

.header_icon_flex {
    display: flex;
    align-items: center;
}

.header_icon_box {
    width: 40px;
    height: 40px;
    border: 1px solid #d6d6d6;
    border-radius: 12px;
    margin: 0px 4px;
}

.header_icon_box img {
    margin: 7px 8px;
    
}

.sub_menu {
    padding-top: 90px;
    height: 280px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
}

.driver {
    display: inline-block;
    width: 1px;
    height: 185px;
    background-color: #e3e3e3;
}

.group {
    display: inline-block;
    margin-right: 15px;
    padding-top: 15px;
    width: 130px;
    text-align: left;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.group li {
    padding: 2px 0px;
}



div {
    color: #666;
    font-size: 12px;
    letter-spacing: -0.5px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #C62917;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer div {
    padding-right: 13px;
}