{{> /layout/header}}

<div class="my_message_box">

    <div class="my_message_list">
        <div class="my_message_title">쪽지함</div>
        <div class="my_message_items">
            <a href="#" class="my_message_item">
                <div class="my_message_item_title">
                    <div>익명</div>
                    <time datetime="MM/DD hh:mm">04/11 11:13</time>
                </div>
                <div>테스트 메세지입니다.</div>
            </a>
        </div>
    </div>

    <div class="my_message_content_box">
        <div class="my_message_content_header">
            <div class="my_message_title">익명</div>
            <div class="my_message_icon">
                <a href="#">
                    <i class="fa-solid fa-paper-plane"></i>
                </a>
                <a href="#">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </a>
                <a href="#">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </a>
            </div>
        </div>

        <div>

            <div class="my_message_content">
                <div class="my_message_item_title">
                    <div>안내</div>
                    <time>03/30 16:25</time>
                </div>
                <div class="my_message_content_detail">
                    'XX 게시판'에 04-22 19:26 작성한 글을 통해 온 쪽지입니다.
                </div>
            </div>

            <div class="my_message_content">
                <div class="my_message_item_title">
                    <div>안내</div>
                    <time>03/30 16:25</time>
                </div>
                <div class="my_message_content_detail">
                    쪽지 이용시 개인정보 및 금융정보 보호에 유의해주시기 바랍니다. 광고, 스팸, 사기 등의 쪽지를 받으셨을 경우 스팸 신고를 눌러주세요.
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>