{{> /layout/header}}

<div class="my_message_box">

    <div class="my_message_list">
        <h2>쪽지함</h2>
        <div class="my_message_items">
            <a href="#" class="my_message_item">
                <h3>익명</h3>
                <time></time>
                <p>테스트 메세지입니다.</p>
            </a>
        </div>
    </div>

    <div class="my_message_content">실제쪽지내용</div>
</div>

</body>

</html>